.add-profile {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $pale-grey;

  &::after {
    content: '';
    width: 100%;
    padding-bottom: 30px;
    position: absolute;
    bottom: -30px;
    background-color: #edeff6;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 5;
  }
}

.add-profile__container {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  margin-left: 50px;
  margin-right: 26px;
}

.add-profile__title-container {
  display: flex;
  align-items: center;
}

.add-profile__title {
  margin: 0;
}
