.alphabet-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 2;
}

.alphabet-table__item {
  display: flex;
  width: 44px;
  height: 41px;
  border: solid 1px $cloudy-blue;
  border-top: none;
  border-right: none;
  background-color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $dark-slate-blue;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;

  &:nth-child(5n) {
    border-right: solid 1px $cloudy-blue;
  }


  &--active {
    background-color: $pale-grey;
  }
}
