.companions {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue-grey;
  background-image: url('../../img/smolov-back-desktop@1x.png'), url('../../img/rogovaya-back-mobile@1x.png');
  background-position: 152px 80px, -9px 352px;
  background-repeat: no-repeat;
  margin-top: -10px;

}

.companions__container-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 110px;
  margin-bottom: 37px;
}

.companions__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.companions__description {
  display: flex;
  flex-wrap: wrap;
  max-width: 215px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 21px;
}

.companions__description--bold {
  font-weight: bold;
  line-height: 22px;
}
