.contacts {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.contacts__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $mango;

  .general-svg {
    fill: $dark-two;
    width: 18px;
    height: 18px;


  }
}

.contacts__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $mango-two;

  .general-svg {
    fill: $dark-two;
    width: 18px;
    height: 14px;
  }
}
