.destinations {
  display: flex;
  flex-direction: column;
  background-color: $pale-grey;
  margin-top: -30px;
}

.destinations__container {
  margin-top: 99px;
  margin-left: 25px;
  margin-right: 25px;
}

.destinations__title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 25px;
}

.destinations__description {
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 62px;
  max-width: 194px;
  flex-wrap: wrap;
}
