.destinations-cards {
  display: flex;
  flex-direction: column;
  position: relative;

  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

.destinations-cards__card {
  position: relative;
  display: flex;
  margin-bottom: 11px;

  &:last-child::after {
    content: "";
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #edeff6);
    position: absolute;
    top: 100px;
    height: 91px;
    width: 270px;
    z-index: 4;
  }
}

.country-card {
  display: flex;
}
