.expert-review {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  color: $white;
  width: 159px;
  margin-left: 50px;
}

.expert-review__quote {
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
}

.expert-review__source {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  margin-top: 18px;
}
