.form-main {
  display: flex;
  flex-direction: column;
}

.form-main__title-wrapper {
  display: flex;
  background-color: $dark-blue-bg;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

.form-main__title {
  color: $white;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
  margin-left: 25px;
  margin-bottom: 14px;
  position: relative;

  &::after {
    content: "";
    width: 214px;
    height: 5px;
    background-color: $mango;
    position: absolute;
    top: 100%;
    margin-top: 11px;
    border-radius: 20px;
    right: 0%;
  }
}
