.hashtags {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding-left: 0;
  margin-top: 0;
  width: 177px;
  margin: 0 auto;
  margin-bottom: 15px;
  justify-content: center;

  &--user-profile {
    display: flex;
    justify-content: left;
    width: 216px;
    text-indent: -66px;
    border: none;
    background-color: $pale-grey;
    font-family: $font;
    font-size: 16px;
    line-height: 22px;
    color: $greyish-brown;
    resize: none;
    margin-bottom: 7px;
  }

}

.hashtags__item {
  margin-right: 3px;
  color: $greyish-brown;
}

.hashtags__item-link {
  color: $greyish-brown;
}

.hashtags__wrapper {
  @include user-profile-wrapper;
  padding-top: 20px;
  padding-bottom: 12px;
  margin-bottom: 25px;

}

.hashtags__title {
  @include user-profile-subtitle;
  width: 70px;
  left: 99px;
  // font-size: 16px;
  // font-weight: bold;
  // color: $dark-slate-blue;
  // text-transform: uppercase;
  // margin: 0;
  // text-align: center;
  // background-color: $pale-grey;
  // position: absolute;
  // top: -11px;
  // left: 99px;
  // width: 70px;
}
