.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  margin-bottom: 53px;
}

.main-nav__list-item {
  display: flex;
  justify-content: center;
  margin-bottom: -2px;
}

.main-nav__list-link {
  font-family: $font;
  font-size: 30px;
  font-weight: 500;
  color: $dark-blue-grey;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
