.page-header {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 55px;
  background-color: $header-bg-color;
}

.page-header__container {
  display: flex;
  margin-top: 27px;
  margin-left: 25px;
  margin-right: 20px;
  justify-content: space-between;
}

.open-nav-button {
  @include reset-default-button-style;
  width: 37px;

  .general-svg {
    fill: $white;
  }
}
