.page-header {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background-color: $dark-blue-bg;
}

.page-header__container {
  display: flex;
  margin-top: 27px;
  margin-left: 25px;
  margin-right: 20px;
  justify-content: space-between;

  &--not-main {
    margin-top: 19px;
    margin-bottom: 47px;
  }
}

.open-nav-button {
  @include reset-default-button-style;
  width: 37px;

  .general-svg {
    fill: $white;
  }
}
