.page-header {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background-image: url('../img/globe-back-mobile@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__container {
  display: flex;
  margin-top: 27px;
  margin-left: 25px;
  margin-right: 25px;
  justify-content: space-between;
}

.open-nav-button {
  @include reset-default-button-style;
}
