.page-main {
  display: flex;
  flex-direction: column;
}

.page-title {
  font-family: $font;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: $white;
  margin: 0 auto 248px;
  margin-top: 40px;
  max-width: 250px;
}

.top-screen-container {
  display: flex;
  flex-direction: column;
  background-image: url('../img/traveller-illustration-mobile@1x.png'), url('../img/globe-back-mobile@1x.jpg');
  background-position: bottom right 50px, center;
  height: 427px;
  background-repeat: no-repeat;
  background-color: $dark-blue-bg;
  position: relative;
}
