.page-footer {
  display: flex;


  &--index {
    margin-top: -248px;

    .page-footer__container {
      padding-bottom: 17px;
    }
  }

  &--form {
    margin-top: -25px;

  }

  &--catalog {
    margin-top: -20px;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
}

.page-footer__logo {
  margin: 0 auto;
  margin-top: 38px;

  margin-bottom: 39px;
}
