.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__title {
  font-family: $font;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: $white;
  margin: 0 auto 248px;
  margin-top: 40px;
  max-width: 250px;
}
