.second-step {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
  position: relative;
}

.second-step__title {
  color: $dark-slate-blue;
  line-height: 20px;
  margin: 0;
  margin-top: 22px;
}

.second-step__description {
  margin-bottom: 22px;
}
