.show-all-button {
  display: flex;
  position: relative;
  color: $dark-slate-blue;
  font-family: $font;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

  background-color: $light-gold;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 23px;
  width: 100%;
  border-radius: 10px;

  &::after {
    content: "";
    background-image: url(../../img/triangle-arrow-right.svg);
    width: 10px;
    height: 14px;
    position: absolute;
    right: 23px;
    top: 24px;
  }
}
