.third-step {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 70px;
  position: relative;
}

.third-step__title {
  color: $dark-slate-blue;
  line-height: 20px;
  margin: 0;
  margin-top: 22px;
}

.third-step__description {
  margin-bottom: 20px;
}

.third-step__textarea-label {
  display: flex;
  justify-content: space-between;
  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  color: $dark-slate-blue;
  margin-bottom: 16px;
  margin-left: 12px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: $dark-slate-blue;
    position: absolute;
    left: -24px;
    top: 13px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $dark-slate-blue;
    position: absolute;
    left: -14px;
    top: 11px;
  }
}

.third-step__flag-container {
  z-index: 2;
  width: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 25%);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.third-step__textarea-container {
  display: flex;
  width: 220px;
  position: relative;

  &::before {
    content: '';
    width: 2px;
    background-color: $dark-slate-blue;
    height: 116%;
    position: absolute;
    left: -12px;
    top: -25px;
  }
}

.third-step__textarea {
  display: flex;
  resize: none;
  border: solid 1px $cloudy-blue;
  border-radius: 4px;
  background-color: $white;
  height: 220px;
  width: 100%;
  margin-bottom: 22px;

  padding-top: 5px;
  padding-left: 13px;
  padding-right: 19px;
  font-family: $font;
  font-size: 16px;
  line-height: 22px;
  color: $greyish-brown;
  text-indent: -66px;

  &::placeholder {
    opacity: 0.3;
    font-family: $font;
    font-size: 16px;
    line-height: 22px;
    text-indent: 0;
  }
}
