.top-screen-container {
  display: flex;
  flex-direction: column;
  background-image: url(../img/traveller-illustration-mobile@1x.png), url(../img/globe-back-mobile@1x.jpg);
  background-position: 62% 100%, 100% 35%;
  height: 427px;
  background-repeat: no-repeat;
  background-color: $dark-blue-bg;
  position: relative;
}
