.transport {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  width: 120px;
  justify-content: space-between;
  margin-bottom: 18px;

  &--user-profile__list {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 133px;
  }
}

.transport__icon {
  width: 33px;
  height: 33px;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transport__svg {
  height: 21px;
  opacity: 0.15;
  fill: $dark-slate-blue;

  &--user-profile {
    height: 16px;
  }
}

.transport__wrapper {
  @include user-profile-wrapper;
  margin-bottom: 33px;
}

.transport__title {
  @include user-profile-subtitle;
  width: 110px;
  left: 79px;
}

.transport__input {
  position: absolute;
  width: 33px;
  height: 33px;
  opacity: 0;
}

.transport__input:checked+.transport__svg {
  opacity: 1.0;
}

.transport__icon:hover {
  opacity: 0.7;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.transport__icon:active {
  opacity: 0.3;
  background-color: $pale-grey-three;
}

// .transport__input:disabled+.transport__svg {
//   opacity: 1.0;
// }
