.with-children {
  display: flex;
  align-items: center;
  position: relative;
}

.with-children__label {
  font-family: $font;
  font-size: 15px;
  color: $greyish-brown;
  margin-bottom: 25px;
  padding-left: 28px;
}

.with-children__input {
  appearance: none;
}

.with-children__checkbox {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: solid 1px $cloudy-blue;
  background-color: $white;
  position: absolute;
  left: 1px;
  top: -2px;
}

.with-children__input:checked+.with-children__checkbox {
  background-image: url("../../img/tick.svg");
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: center;

}

.with-children__input:focus+.with-children__checkbox,
.with-children__input:hover+.with-children__checkbox {
  border: solid 1px $bluey-grey;
}

.with-children__input:checked:disabled+.with-children__checkbox {
  background-color: $pale-grey-three;
  opacity: 0.3;
}

.with-children__input:disabled+.with-children__checkbox {
  background-color: $pale-grey-three;
  opacity: 0.3;
}
