/*Служебные*/
@import "includes/variables";
@import "includes/mixins";
@import "includes/fonts";
@import "includes/globals";
@import "../../node_modules/normalize.css/normalize.css";


/*Общие блоки и блоки главной страницы*/
@import "blocks/page-header";
@import "blocks/mobile-menu";
@import "blocks/main-nav";
@import "blocks/authorization";
@import "blocks/dropdown-contacts";
@import "blocks/page-main";
@import "blocks/user-menu";
@import "blocks/contacts";
@import "blocks/expert-review";
@import "blocks/top-screen-container";
@import "blocks/expert-review-and-travel-steps-wrapper";
@import "blocks/travel-steps";
@import "blocks/about-service";
@import "blocks/destinations";
@import "blocks/destinations-cards";
@import "blocks/country-card";
@import "blocks/show-all-button";
@import "blocks/companions";
@import "blocks/companions-list";
@import "blocks/companion";
@import "blocks/flags";
@import "blocks/level-icon";
@import "blocks/hashtags";
@import "blocks/transport";
@import "blocks/add-profile";
@import "blocks/features-list";
@import "blocks/show-all-rates";
@import "blocks/contact-us";
@import "blocks/email-form";
@import "blocks/contacts-list";
@import "blocks/location";
@import "blocks/page-footer";
@import "blocks/social-media";
@import "blocks/developed-by";

/*Блоки form.html*/
@import "blocks/form-main";
@import "blocks/user-profile";
@import "blocks/my-plans";
@import "blocks/plan-cards";
@import "blocks/trip-card";
@import "blocks/dates";


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font;
}
